<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Blog Archive - {{.Month}} {{.Year}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="alternate" type="application/rss+xml" href="{{.Prefix}}index.rss" title="RSS feed for {{.Prefix}}">
    {{template "data/inc/css.tmpl"}}
  </head>
  <body>
    <div class="header">
      <a href="{{.Prefix}}" class="logo">Steve Kemp's Blog<span> - Debian &amp; Free Software</span></a>
      <div class="header-right">
        <a href="/about/">About</a>
        <a href="/archive/">Archive</a>
        <a href="/tags/">Tags</a>
        {{template "data/inc/rss.tmpl"}}
      </div>
    </div>
    <p>&nbsp;</p>
    <table>
      <tr><td width="10%" id="indent"></td>
        <td id="content">
          <h1>Entries posted in {{.Month}} {{.Year}}</h1>
          {{range .Entries}}
          {{template "data/inc/blog_post.tmpl" .}}
          {{end}}
        </td>
        <td width="20%" id="sidebar">
          {{template "data/inc/recent_posts.tmpl" .}}
        </td>
      </tr>
    </table>
    <p>&nbsp;</p>
    <div class="footer">
      <p class="left">Created by <a href="https://github.com/skx/ephemeris">ephemeris</a>.</p>
      <p class="right">&copy; <a href="https://steve.kemp.fi/">Steve Kemp</a></p>
    </div>
  </body>
</html>
