<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Blog Archive</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="alternate" type="application/rss+xml" href="{{range $i, $t := .}}{{if $i }}{{else}}{{.Prefix}}{{end}}{{end}}index.rss" title="RSS feed for {{range $i, $t := .}}{{if $i }}{{else}}{{.Prefix}}{{end}}{{end}}">
    {{template "data/inc/css.tmpl"}}
  </head>
  <body>
    <div class="header">
      <a href="{{range $i, $t := .}}{{if $i }}{{else}}{{.Prefix}}{{end}}{{end}}" class="logo">Steve Kemp's Blog<span> - Debian &amp; Free Software</span></a>
      <div class="header-right">
        <a href="/about/">About</a>
        <a class="active" href="/archive/">Archive</a>
        <a href="/tags/">Tags</a>
        {{template "data/inc/rss.tmpl"}}
      </div>
    </div>
    <p>&nbsp;</p>
    <table>
      <tr><td width="10%">
        </td>
        <td>
           <h1>Archive</h1>
           <div style="width:50%">
           {{range .}}
            <ul style="list-style:none;">
              <li><b>{{.Year}}</b>
                <ul class="list-group">
                 {{range .Data}}
                  <li class="list-group-item"><a href="/archive/{{.Year}}/{{.Month}}/">{{.MonthName}}</a> <span class="badge">{{.Count}}</span> </li>
                   {{end}}
              </ul></li>
            </ul>
            {{end}}
           </div>
        </td>
        <td width="20%">
        <!-- hack -->
        {{range $i, $t := .}}
        {{if $i }} {{else}}
          {{template "data/inc/recent_posts.tmpl" .}}
          {{end}}
        {{end}}
        </td>
      </tr>
    </table>
    <p>&nbsp;</p>
    <div class="footer">
      <p class="left">Created by <a href="https://github.com/skx/ephemeris">ephemeris</a>.</p>
      <p class="right">&copy; <a href="https://steve.kemp.fi/">Steve Kemp</a></p>
    </div>
  </body>
</html>
